<%- include('../../partials/head.ejs'), 'Internet server error' %>

    <div class="container my-container my-5">
        <h1 class="display-4 text-center"> Internet server error</h1>
    </div>

    <%- include('../../partials/footer.ejs') %>


        </body>

        </html>