<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="container">
        <div class="jumbotron">
            <h1>Lorem ipsum dolor sit amet </h1>
            <p class="lead">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Amet culpa fugit nesciunt quis,
                voluptatibus inventore perspiciatis odit sed quaerat iure? Dolor debitis sunt excepturi soluta ratione
                eveniet error velit laudantium!</p>
        </div>
    </div>
</body>

</html>